#!/bin/bash

if [ -z "${PROJECT_NAME}" ]; then
    echo "ERROR: Expecting PROJECT_NAME to be set."
    exit 1
fi

if [ -z "${SYMFONY_VERSION}" ]; then
    echo "ERROR: Expecting SYMFONY_VERSION to be set."
    exit 1 
fi

if [ ! -d "/project/${PROJECT_NAME}" ]; then
    # Create the project, if it does not already exist
    symfony new ${PROJECT_NAME} ${SYMFONY_VERSION}  
fi

# Set the working directory to the project
cd /project/${PROJECT_NAME} 

exec "$@"
